
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap&subset=cyrillic,cyrillic-ext');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:focus {
    outline:none;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height: 100%;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
    content: none;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

html,body {
    height: 100vh;
    background: url(https://image.freepik.com/free-vector/cute-shark-seamless-pattern-background_42349-427.jpg) center center;
    background-size: 70%;
    font-family: 'Roboto Slab', serif;
}

.wrapper {
    position: relative;
    margin: 90px 10px 10px 10px;
    padding: 15px 20px 40px 20px;
    background: #f8fcfd;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    color: #343638;
}

.title,
.sub-title,
.bot-title {
    display: block;
    overflow: hidden;
    margin: 0 0 15px 0;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .5px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-family: 'Caveat', cursive;
}

.sub-title {
    padding: 10px;
    background: #2bb6e0;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}

.bot-title {
    color: #343638;
}

.avatar {
    display: block;
    height: 120px;
    width: 120px;
    margin: -90px auto 20px auto;
    background: url(https://media.mssg.me/images/404riz25k0qz7e64.jpeg) center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid #f8fcfd;
    border-bottom: none;
    z-index: 9;
}

.phone {
    display: block;
    text-align: center;
    font-size: 26px;
    overflow: hidden;
    color:  #343638;
    text-decoration: none;
}

.phone span {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px dashed #343638;
}

.messengers {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom: 30px;
}

.messengers-item {
    flex: 1;
    max-width: 90px;
    height: 90px;
    border-radius: 15px;
    background: center center no-repeat;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

.messengers-item__telegram {
    background-color: #2fc6f6;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M25.616%2016.036L17.8%2023.269a1.61%201.61%200%200%200-.502.965l-.266%201.964c-.035.263-.405.289-.478.035l-1.024-3.582a.948.948%200%200%201%20.417-1.068l9.471-5.807c.17-.104.346.125.2.26m3.793-3.997L9.52%2019.677a.568.568%200%200%200%20.005%201.064l4.847%201.8%201.876%206.005c.12.385.592.527.906.272l2.701-2.192a.809.809%200%200%201%20.983-.028l4.872%203.522c.336.242.811.06.895-.344l3.57-17.09a.57.57%200%200%200-.765-.647%22/%3E%3C/svg%3E');
}

.messengers-item__whatsapp {
    background-color: #01e675;
    background-size: 81%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M6%2C33.6692502%20L7.9357003%2C26.7942754%20C6.69093133%2C24.6795989%206.03555244%2C22.2735659%206.03555244%2C19.8018908%20C6.03555244%2C12.1915008%2012.2270533%2C6%2019.8374433%2C6%20C27.4478333%2C6%2033.6392474%2C12.1915008%2033.6392474%2C19.8018908%20C33.6392474%2C27.4122809%2027.4478333%2C33.6037817%2019.8374433%2C33.6037817%20C17.4660955%2C33.6037817%2015.1440876%2C32.9967888%2013.089937%2C31.844196%20L6%2C33.6692502%20Z%20M13.4523985%2C29.3332399%20L13.8748655%2C29.5912119%20C15.6658414%2C30.6845795%2017.7277095%2C31.2625234%2019.8374433%2C31.2625234%20C26.1568462%2C31.2625234%2031.2979892%2C26.1212937%2031.2979892%2C19.8018908%20C31.2979892%2C13.482488%2026.1568462%2C8.34125826%2019.8374433%2C8.34125826%20C13.5180404%2C8.34125826%208.3768107%2C13.482488%208.3768107%2C19.8018908%20C8.3768107%2C22.0038009%209.00262036%2C24.1420634%2010.1864299%2C25.9855008%20L10.4709361%2C26.4285188%20L9.35623707%2C30.3876733%20L13.4523985%2C29.3332399%20Z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M16.0558808%2C13.4906124%20L15.1603062%2C13.4417928%20C14.8790083%2C13.4264446%2014.6030867%2C13.5204418%2014.3904658%2C13.705141%20C13.9562925%2C14.0821703%2013.262066%2C14.8110821%2013.0488381%2C15.7609392%20C12.7308605%2C17.177227%2013.2222646%2C18.9114924%2014.4940881%2C20.6457578%20C15.7659117%2C22.3800232%2018.1360454%2C25.1548478%2022.3271579%2C26.339958%20C23.677717%2C26.7218432%2024.740128%2C26.4643915%2025.5598285%2C25.9400364%20C26.2090508%2C25.5247666%2026.6565779%2C24.8582017%2026.8178646%2C24.1046634%20L26.9608548%2C23.4367978%20C27.0062926%2C23.2245237%2026.898508%2C23.0091279%2026.701322%2C22.9182524%20L23.6745953%2C21.5231226%20C23.4781031%2C21.432594%2023.2451045%2C21.4898247%2023.1129535%2C21.6610834%20L21.9247216%2C23.2014579%20C21.8349733%2C23.3178272%2021.6813174%2C23.3639586%2021.5425762%2C23.3152258%20C20.7288589%2C23.0292454%2018.003114%2C21.8876652%2016.5074835%2C19.0067036%20C16.442622%2C18.8817497%2016.4587507%2C18.7300882%2016.5507535%2C18.6235176%20L17.6863504%2C17.3098116%20C17.8023728%2C17.1756662%2017.8316819%2C16.9870648%2017.7619644%2C16.8240439%20L16.4572766%2C13.7716501%20C16.3878192%2C13.6091494%2016.2321689%2C13.5002376%2016.0558808%2C13.4906124%20Z%22/%3E%3C/svg%3E');
}

.messengers-item__viber {
    background-color: #995aca;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M32.508%2015.53l-.007-.027c-.53-2.17-2.923-4.499-5.12-4.983l-.025-.006a28.14%2028.14%200%200%200-10.712%200l-.025.006c-2.197.484-4.59%202.813-5.121%204.983l-.006.027a21.443%2021.443%200%200%200%200%209.135l.006.026c.509%202.078%202.723%204.3%204.839%204.91v2.423c0%20.877%201.056%201.308%201.657.675l2.426-2.552a27.78%2027.78%200%200%200%206.936-.467l.024-.005c2.198-.485%204.59-2.814%205.121-4.984l.007-.026a21.447%2021.447%200%200%200%200-9.135zm-2.01%208.435c-.35%201.374-2.148%203.082-3.577%203.398-1.87.352-3.755.503-5.638.452a.134.134%200%200%200-.1.04L19.43%2029.64l-1.865%201.899c-.136.14-.376.045-.376-.15v-3.895a.135.135%200%200%200-.11-.131h-.001c-1.429-.316-3.226-2.024-3.577-3.399a18.53%2018.53%200%200%201%200-8.013c.351-1.374%202.148-3.082%203.577-3.398a26.437%2026.437%200%200%201%209.843%200c1.43.316%203.227%202.024%203.578%203.398a18.511%2018.511%200%200%201%200%208.014zm-5.676%202.065c-.225-.068-.44-.115-.64-.198-2.068-.861-3.97-1.973-5.478-3.677-.858-.968-1.529-2.062-2.096-3.22-.269-.549-.496-1.12-.727-1.686-.21-.517.1-1.05.427-1.44a3.37%203.37%200%200%201%201.128-.852c.334-.16.663-.068.906.216.527.614%201.01%201.259%201.402%201.97.24.438.175.973-.262%201.27-.106.073-.202.158-.301.24a.99.99%200%200%200-.228.24.662.662%200%200%200-.044.58c.538%201.486%201.446%202.64%202.935%203.263.238.1.477.215.751.183.46-.054.609-.56.931-.825.315-.258.717-.262%201.056-.046.34.215.668.447.995.68.321.23.64.455.936.717.285.251.383.581.223.923-.294.625-.72%201.146-1.336%201.478-.174.093-.382.124-.578.184-.225-.069.196-.06%200%200zm-2.378-11.847c2.464.075%204.488%201.86%204.922%204.517.074.452.1.915.133%201.375.014.193-.087.377-.278.38-.198.002-.286-.178-.3-.371-.025-.383-.042-.767-.09-1.146-.256-2.003-1.72-3.66-3.546-4.015-.275-.054-.556-.068-.835-.1-.176-.02-.407-.031-.446-.27a.32.32%200%200%201%20.297-.37c.048-.003.096%200%20.143%200%202.464.075-.047%200%200%200zm2.994%205.176c-.004.033-.006.11-.023.183-.06.265-.405.298-.484.03a.918.918%200%200%201-.028-.254c0-.558-.105-1.115-.347-1.6-.249-.5-.63-.92-1.075-1.173a2.786%202.786%200%200%200-.857-.306c-.13-.025-.26-.04-.39-.06-.157-.026-.241-.143-.234-.323.007-.169.114-.29.272-.28.52.035%201.023.165%201.485.45.94.579%201.478%201.493%201.635%202.713.007.055.018.11.022.165.009.137.014.274.023.455-.003.033-.009-.18%200%200zm-.996.397c-.275.005-.423-.144-.451-.391-.02-.173-.035-.348-.077-.516a1.447%201.447%200%200%200-.546-.84%201.436%201.436%200%200%200-.444-.21c-.202-.057-.412-.04-.613-.09-.219-.052-.34-.226-.305-.427a.394.394%200%200%201%20.417-.311c1.275.09%202.186.737%202.316%202.209.01.104.02.213-.003.313a.325.325%200%200%201-.294.263c-.275.005.125-.008%200%200z%22/%3E%3C/svg%3E');
}

